address "0.0.0.0:3000"
upload {
	route "/upload"
	target-dir "./test-uploads/"
	filename-length 4
}
calendar {
	route "/calendar"
	pass-param "id"
	base-url "https://personligtskema.ku.dk/ical.asp?objectclass=student"
	filter "5100-B[1-5]-\\dE2\\d;"
}
